button,
.btn,
.modal-content,
.form-control,
.navbar,
.alert {
  border-radius: 0;
}

.grid {
  margin: 0;
  padding: 0;
	display: -webkit-flex;
  display: flex;
  list-style: none;
}

.flexible {
  flex: 1;
}

.fixed {
  width: 400px;
}
