body {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow: auto;
}

button,
.btn,
.modal-content,
.form-control,
.navbar,
.alert {
  border-radius: 0;
}

/* layouts */

.AppHeader .logo {
  animation: Logo-spin infinite 20s linear;
  height: 50px;
}
@keyframes Logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.AppHeader {
  height: 50px;
  width: 100vw;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(220, 224, 224);
}
.AppHeader ul {
  margin-right: 3rem;
  float: right;
}
.AppHeader ul li {
  display: inline-block;
  width: auto;
  height: 50px;
  padding: 15px 10px;
}
.AppHeader ul li a {
  color: #ddd;
}
.AppHeader ul li a:hover {
  color: #fff;
}

footer {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  font-family: $heading-font-family;
  vertical-align: middle;
  padding: 4.5rem 0;
  color: #999;
  background: #222;
}
footer .container {
  padding: 0 1rem;
}
footer .contact-info {
  display: inline-block;
  padding: 0 5px;
}
footer a {
  color:inherit;
  margin: 0 .5rem;
  color: #abc;
}
footer a:hover {
  text-decoration: none;
  color: white;
}

/* ListingScreen */

.ListingScreen {
  display: flex;
}
.ListingScreen .left {
  width: 100vw;
}
.ListingScreen .right {
  visibility: hidden;
}
@media (min-width: 600px) {
  .ListingScreen .left {
    width: 60vw;
    max-width: 1000px;
  }
  .ListingScreen .right {
    width: 40vw;
    max-width: 1000px;
    visibility: visible;
  }
}
