body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

button,
.btn,
.modal-content,
.form-control,
.navbar,
.alert {
  border-radius: 0;
}

.ListingApp {
  padding: 0 2rem;
}

.AppHeader {
  height: 52px;
  padding: .3rem;
  background-color: #333;
}
.AppHeader .logo {
  animation: Logo-spin infinite 20s linear;
  height: 45px;
}
@keyframes Logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

footer {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  font-family: $heading-font-family;
  vertical-align: middle;
  padding: 4.5rem 0;
  color: #999;
  background: #222;
}
footer .container {
  padding: 0 1rem;
}
footer .contact-info {
  display: inline-block;
  padding: 0 5px;
}
footer a {
  color:inherit;
  margin: 0 .5rem;
  color: #abc;
}
footer a:hover {
  text-decoration: none;
  color: white;
}
